CHECKLIST.md
TODO.md
verification-last-record.png

dist/
build/
venv/
chrome/
*.spec



############################# "Standard" gitignore #############################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
