{% macro shamelessly_beg_for_money() %}
    <i>Shameless donate button:</i>
    <form action="https://www.paypal.com/donate" method="post" target="_top" style="display: inline-block;">
        <input type="hidden" name="business" value="WGCD97BDQS8N4" />
        <input type="hidden" name="no_recurring" value="1" />
        <input type="hidden" name="item_name" value="ay thanks dude! i'll probably not spend it all on junk food maybe (just kidding I'm saving for a mortgage, thank you so much!!)" />
        <input type="hidden" name="currency_code" value="CAD" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
    </form>
{% endmacro %}
